HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### 配置文件 ###
src/main/resources/application-dev.yml

### 资源文件 ###
resources/static/dataset/*
!resources/static/dataset/README.md
resources/static/sqlite/*
!resources/static/sqlite/README.md

### 测试用文件 ###
src/main/java/com/shitlime/era/Test*.java