spring:
  profiles:
    active: dev
  application:
    name: era
  datasource:
    driver-class-name: org.sqlite.JDBC
    url: jdbc:sqlite:resources/static/sqlite/era.db

shiro:
  debug: false
  ws:
    # 正向ws
    client:
      enable: true
      url: ws://127.0.0.1:3001
  plugin-list:
    - com.shitlime.era.plugins.StatePlugin
    - com.shitlime.era.plugins.RssManagePlugin
    - com.shitlime.era.plugins.TextToImagePlugin
    - com.shitlime.era.plugins.AIChatPlugin
  # 限速器（令牌桶算法）
  limiter:
    # 是否启用限速器
    enable: true
    # 补充速率（每秒补充的令牌数量）
    rate: 3
    # 令牌桶容量
    capacity: 5
    # 如果该值为 false 时，当令牌获取失败则会直接丢次本次请求
    # 如果该值为 true 时，当令牌获取失败则会阻塞当前线程，后续任务将被添加到等待队列
    awaitTask: true
    # 等待超时
    timeout: 10

logging:
  level:
    root: debug

mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath:mapper/*.xml

era:
  bot:
    name: era
    id: ${era.bot.id}
    admin: ${era.bot.admin}  # list
    cmd: "|"
  resources:
    path:
      sqlite: resources/static/sqlite
      fonts: resources/static/fonts
      temp: resources/tmp
  plugin:
    character-search:
      dataset:
        path: resources/static/dataset
        table-name-prefix: dataset_
    ai-chat:
      baidu:
        api-key: ${era.plugin.ai-chat.baidu.api-key}
        secret-key: ${era.plugin.ai-chat.baidu.secret-key}
        model-id: Yi-34B-Chat
        # 根据百度API，第一句是用户，第二句是AI回复，此处list长度为偶数，用于指定一些初始状态
        initial-chat: ${era.plugin.ai-chat.baidu.initial-chat}  # list